<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container">
    <a class="nav-link" href="https://www.facebook.com">
       Facebook
    </a>
    <strong>FULLY IMPLEMENTED  80+  LEVEL / ATTEMPT 90+ LEVEL</strong>
     <a class="nav-link" href="https://twitter.com">
        Twitter
    </a>
    <a class="nav-link" href="https://www.linkedin.com">
        LinkedIn
    </a>
  </div>
</nav>