<h1>You answered <%= session[:marks]%>/<%= session[:max] %> questions correctly<h1>
<% session[:marks] = 0 %>
<% session[:times] = 0 %>

<div class="row">
    <div class="col text-center">
      <a class="btn btn-primary" href="/quiz/reload" role="button">Reload</a>
    </div>
</div>