<br>
<div class="row">
    <div class="col text-center">
          <h1>Start Your Quiz</h1>
    </div>
</div>
<br>
<%= form_with url: "/set", method: :post do |form| %>
<div class="row">
    <div class="col text-center">
        <input type="number" name="max" min="4" max="8" value ="4">
    </div>
</div>
<br>
<div class="row">
    <div class="col text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
<%end %>
