<br>
<div class="row">
    <div class="col text-center">
          <h1>Start Your Quiz</h1>
    </div>
</div>
<br>
<div class="row">
    <div class="col text-center">
      <a class="btn btn-primary" href="/quiz" role="button">Start</a>
    </div>
</div>
